@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gidugu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(35, 35, 35);
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
    color: BLACK;
    font-size: 35px;
    color: hsl(214, 21%, 75%);
}

input {
    padding: 10px;
    border-style: none;
    border-bottom: 1px solid rgb(85, 85, 85);
    outline: none;
    width: 300px;
    font-size: 16px;
    color: hsl(214, 21%, 75%);
    margin-bottom: 20px;
    border-color: hsl(214, 21%, 75%);
    background-color: rgb(0, 0, 0, 0);
}

input::placeholder {
    color: hsl(214, 21%, 75%);
}

a {
    text-decoration: none;
    color: rgb(58, 135, 207);
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: rgba(0, 130, 0, 0.5);
    color: WHITE;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    height: 40px;
    width: 350px;
    transform: translateY(35px);
}

button:hover {
    transition: 0.2s;
    background-color: rgba(0, 130, 0, 0.45);
    cursor: pointer;
}

#logo {
    font-family: "Tilt Warp", sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    color: #8C9BAB;
    margin-bottom: 5px;
    user-select: none;
}

#mainFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D2125;
    width: 400px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

#togglePassword {
    width: 4px;
    transform: translateX(-30px);
    color: hsl(214, 21%, 75%);
}

#submit {
    height: 40px;
    margin-top: 10px;
    background-color: rgba(125, 191, 255, 0.8);
    color: WHITE;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    filter: brightness(0.9);
}

#submit:hover {
    transition: 0.2s;
    filter: brightness(1);
    cursor: pointer;
}

#breakLine {
    display: flex;
    justify-content: center;
    transform: translateY(30px);
    color: hsl(214, 21%, 75%);
}

#breakLine hr {
    margin: 10px;
    height: 1px;
    width: 100px;
    border-style: solid;
    color: hsl(214, 21%, 75%);
}