@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
    background-image: url("/images/registerBg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p {
    margin: 10px;
    color: rgba(255, 255, 255, 0.479);
    transform: translateY(-6px);
}

a {
    color: BLACK;
}

label {
    margin: 10px;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.479);
}

#mainFrame {
    border-style: solid;
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.479);
    width: 600px;
    backdrop-filter: blur(10px);


}

#mainFrame h1 {
    padding-top: 20px;
    margin: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(255, 255, 255, 0.479);
}

#registrationFrame {
    position: relative;
    top: -300px;

    width: 530px;
    height: 650px;
}

#description {
    height: 150px;
}

.submitButton {
    margin: 10px;
    width: 100px;
    height: 40px;

    background-color: rgba(0, 0, 0, 0.212);
    border-style: SOLID;
    border-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;

    font-size: LARGE;
    font-weight: BOLD;

    color: rgba(255, 255, 255, 0.479);

    transition: 0.4s;
}

.submitButton:hover {
    cursor: pointer;
    color: BLACK;
    background-color: WHITE;
}

.dataInput {
    margin: 10px;
    width: 500px;
    height: 40px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.212);

    color: rgba(255, 255, 255, 0.479);

    font-size: LARGE;

    border-style: SOLID;
    border-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
}

.optionPane {
    margin: 10px;
    width: 150px;
    height: 40px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.212);

    color: rgba(255, 255, 255, 0.479);

    font-size: LARGE;

    border-style: SOLID;
    border-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
}

.dateInput {
    margin: 10px;
    width: 130px;
    height: 40px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.212);

    color: rgba(255, 255, 255, 0.479);

    font-size: LARGE;

    border-style: SOLID;
    border-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
}

#deleteOption {
    font-family: 'Roboto Mono', monospace;
}
