<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskTracker- Access Denied</title>
    <link rel="stylesheet" href="../static/style/accessDenied.css" th:href="@{/style/accessDenied.css}">
        <link rel="icon" href="../static/img/taskTrucker.png" th:href="@{/img/taskTrucker.png}">
</head>

<body>
<h1>Access to this page has been restricted</h1>
<p>If you have any issues, <a href="mailto:support@tasktracker.com">contact us</a>.</p>
</body>
</html>