<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TaskTracker</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="icon" href="../static/images/taskTrucker.png" th:href="@{/images/taskTrucker.png}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <!--Navigation bar-->
    <div id="nav-placeholder">

    </div>

    <script>
            $(function(){
              $("#nav-placeholder").load("/nav.html");
            });
    </script>
    <!--end of Navigation bar-->
    <hr id="navSplitLine">

    <article class="workspace">
        <div class="status-card">
            <h1>To do</h1>
            <hr>
            <ul>
                <div th:each="task:${taskList}" th:if="${task.status} == 'toDo'">
                    <a th:href="@{'/edit/' + ${task.id}}">
                        <li th:text="${task.name}" class="pointer"></li>
                    </a>
                    <p class="quickEditOptionPlaceHolder"><a th:href="@{'/archive/' + ${task.id}}"><span class="quickEditOption">🗃</span></a>/<a th:href="@{'/changeStatus/' + ${task.id}}"><span class="quickEditOption">→</span></a></p>
                </div>
            </ul>
            <a href="/task-details?status=toDo"><p class="newTaskBt">➕ Add a card</p></a>
        </div>
        <div class="status-card">
            <h1>In progress</h1>
            <hr>
            <ul>
                <div th:each="task:${taskList}" th:if="${task.status} == 'inProgress'">
                    <a th:href="@{'/edit/' + ${task.id}}">
                        <li th:text="${task.name}" class="pointer"></li>
                    </a>
                    <p class="quickEditOptionPlaceHolder"><a th:href="@{'/archive/' + ${task.id}}"><span class="quickEditOption">🗃</span></a>/<a th:href="@{'/changeStatus/' + ${task.id}}"><span class="quickEditOption">→</span></a></p>
                </div>
            </ul>
            <a href="/task-details?status=inProgress"><p class="newTaskBt">➕ Add a card</p></a>
        </div>
        <div class="status-card">
            <h1>In review</h1>
            <hr>
            <ul class="list-items-inreview">
                <div th:each="task:${taskList}" th:if="${task.status} == 'inReview'">
                    <a th:href="@{'/edit/' + ${task.id}}">
                        <li th:text="${task.name}" class="pointer"></li>
                    </a>
                    <p class="quickEditOptionPlaceHolder"><a th:href="@{'/archive/' + ${task.id}}"><span class="quickEditOption">🗃</span></a>/<a th:href="@{'/changeStatus/' + ${task.id}}"><span class="quickEditOption">→</span></a></p>
                </div>
            </ul>
            <a href="/task-details?status=inReview"><p class="newTaskBt">➕ Add a card</p></a>
        </div>
        <div class="status-card">
            <h1>Done</h1>
            <hr>
            <ul class="list-items-done">
                <div th:each="task:${taskList}" th:if="${task.status} == 'done'">
                    <a th:href="@{'/edit/' + ${task.id}}">
                        <li th:text="${task.name}" class="pointer"></li>
                    </a>
                    <p class="quickEditOptionPlaceHolder"><a th:href="@{'/archive/' + ${task.id}}"><span class="quickEditOption">🗃</span></a>/<a th:href="@{'/changeStatus/' + ${task.id}}"><span class="quickEditOption">→</span></a></p>
                </div>
            </ul>
            <a href="/task-details?status=done"><p class="newTaskBt">➕ Add a card</p></a>
        </div>
    </article>

</body>
</html>