<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TaskTracker</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="icon" href="../static/images/taskTrucker.png" th:href="@{/images/taskTrucker.png}">
</head>

<body>
    <nav class="navigation">
        <ul>
            <li><img id="icon" src="../static/images/taskTrucker.png" alt="logo" th:src="@{/images/taskTrucker.png}"></li>
            <li><a href="#">| Home</a></li>
            <li><a href="#">| Settings</a></li>
            <button id="signOutBt">Sign out</button>
        </ul>
    </nav>
    <hr id="navSplitLine">
    <article class="workspace">
        <div class="status-card">
            <h1>To do</h1>
            <hr>
            <ul>
                <div th:each="task:${taskList}" th:if="${task.status} == 'toDo'">
                    <a th:href="@{'/edit/' + ${task.id}}">
                        <li th:text="${task.name}" class="pointer"></li>
                    </a>
                </div>
            </ul>
            <a href="/new-task"><p class="newTaskBt">➕ Add a card</p></a>
        </div>
        <div class="status-card">
            <h1>In progress</h1>
            <hr>
            <ul>
                <div th:each="task:${taskList}" th:if="${task.status} == 'inProgress'">
                    <a th:href="@{'/edit/' + ${task.id}}">
                        <li th:text="${task.name}" class="pointer"></li>
                    </a>
                </div>
            </ul>
            <a href="/new-task"><p class="newTaskBt">➕ Add a card</p></a>
        </div>
        <div class="status-card">
            <h1>In review</h1>
            <hr>
            <ul class="list-items-inreview">
                <div th:each="task:${taskList}" th:if="${task.status} == 'inReview'">
                    <a th:href="@{'/edit/' + ${task.id}}">
                        <li th:text="${task.name}" class="pointer"></li>
                    </a>
                </div>
            </ul>
            <a href="/new-task"><p class="newTaskBt">➕ Add a card</p></a>
        </div>
        <div class="status-card">
            <h1>Done</h1>
            <hr>
            <ul class="list-items-done">
                <div th:each="task:${taskList}" th:if="${task.status} == 'done'">
                    <a th:href="@{'/edit/' + ${task.id}}">
                        <li th:text="${task.name}" class="pointer"></li>
                    </a>
                </div>
            </ul>
            <a href="/new-task"><p class="newTaskBt">➕ Add a card</p></a>
        </div>
    </article>


    <script>
        var signOutButton = document.getElementById("signOutBt");

        signOutButton.addEventListener("click", function() {
            window.location.href = "/sign-in";
        });
    </script>

</body>
</html>