<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskTracker- Sign In</title>
    <link rel="stylesheet" href="../static/style/login.css" th:href="@{/style/login.css}">
    <link rel="icon" href="../static/img/taskTrucker.png" th:href="@{/img/taskTrucker.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
<h1 id="logo">Task-Tracker</h1>
<div id="mainFrame">
    <h2>Sign In</h2>
    <form action="" method="post">
        <input type="email" name="username" id="email" placeholder="email" required>
        <br>
        <input type="password" name="password" id="password" placeholder="password" required>
        <i class="far fa-eye" id="togglePassword"></i>
        <br>
        <input type="submit" name="submit" id="submit" value="Submit">
    </form>
</div>
<div id="breakLine">
    <hr>
    <p>New to Task-Tracker?</p>
    <hr>
</div>
<button onclick="window.location.href='/sign-up'">Create an account</button>

<script src="../static/script/togglePassword.js" th:src="@{/script/togglePassword.js}"></script>
</body>
</html>
