<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:task="com.taskTracker.service.TaskService">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TaskTracker- Members</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="icon" href="../static/images/taskTrucker.png" th:href="@{/images/taskTrucker.png}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <!--Navigation bar-->
    <div id="nav-placeholder">

    </div>

    <script>
        $(function(){
          $("#nav-placeholder").load("/nav.html");
        });
    </script>
    <!--end of Navigation bar-->
    <hr id="navSplitLine">

    <section>
        <div class="field">
            <div>
                <dl>
                    <div th:each="account : ${accounts}" class= "columnStats">
                        <hr class="verticalSplitLine">
                        <dt th:text="${account.name}"></dt>
                        <dd>
                            <span>id: </span>
                            <span th:text="${account.id}"></span>
                            <br>
                            <span>role: </span>
                            <span>user</span>
                            <br>
                            <span>e-mail: </span>
                            <span th:text="${account.email}"></span>
                            <br>
                            <span>all tasks: </span>
                            <span th:text="${taskService.getTasksNumber(account.id)}"></span>
                            <br>
                            <span>active tasks: </span>
                            <span th:text="${taskService.getActiveTasksNumber(account.id)}"></span>
                            <br>
                            <span>finished tasks: </span>
                            <span th:text="${taskService.getFinishedTasksNumber(account.id)}"></span>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
</body>
</html>