<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>TaskTracker- Members</title>
    <link rel="stylesheet" href="../static/style/members.css" th:href="@{/style/members.css}"/>
    <link rel="icon" href="../static/img/taskTrucker.png" th:href="@{/img/taskTrucker.png}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <header>
        <nav>
            <div id="navBar"></div>
            <script src="../static/script/nav.js" th:src="@{script/nav.js}"></script>
            <link rel="stylesheet" href="../static/style/navBarDecoration/navMembers.css" th:href="@{/style/navBarDecoration/navMembers.css}">
        </nav>
    </header>

    <main>
        <div class="field">
            <div>
                <dl>
                    <div th:each="account : ${accounts}" class= "columnStats">
                        <dt th:text="${account.name}"></dt>
                        <dd>
                            <label>ID: </label>
                            <span th:text="${account.id}"></span>
                            <br>
                            <label>ROLE: </label>
                            <span>user</span>
                            <br>
                            <label>E-MAIL: </label>
                            <span th:text="${account.email}"></span>
                            <br>
                            <label>ALL TASKS: </label>
                            <span th:text="${taskService.getTasksNumber(account.id)}"></span>
                            <br>
                            <label>ACTIVE TASKS: </label>
                            <span th:text="${taskService.getActiveTasksNumber(account.id)}"></span>
                            <br>
                            <label>FINISHED TASKS: </label>
                            <span th:text="${taskService.getFinishedTasksNumber(account.id)}"></span>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </main>
</body>
</html>