<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project | TaskTracker</title>
    <link href="../static/style/project.css" th:href="@{/style/project.css}" rel="stylesheet" />
    <link rel="icon" href="../static/img/taskTrucker.png" th:href="@{/img/taskTrucker.png}">
</head>
<body>

<h1 id="title">New Project</h1>
<div id="mainFrame">
    <br>

    <form action="/new-project" method="post">
        <div class="field">
            <label for="name">Name:</label>
            <div>
                <input th:field="${projectDto.name}" class="dataInput" name="name" id="name">
            </div>
        </div>
        <br>

        <div class="field">
            <label for="description">Description:</label>
            <div>
                <textarea th:field="${projectDto.description}" id="description" class="dataInput" name="description"></textarea>
            </div>
        </div>
        <br>

        <div class="field">
            <label for="visibility" id="visibilityLabel">Visibility: </label>
            <div>
                <select th:field="${projectDto.visibility}" name="visibility" id="visibility" class="optionPane">
                    <option value="private">Private</option>
                    <option value="public">Public</option>
                </select>
            </div>
        </div>
        <br>

        <input type="hidden" name="id" th:value="${projectDto.id}">

        <input id="submit" type="submit" value="Submit">
    </form>
</div>

</body>
</html>
