<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TaskTracker- Projects</title>
    <link href="../static/style/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/style/projectList.css" th:href="@{/style/projectList.css}" rel="stylesheet" />
    <link rel="icon" href="../static/img/taskTrucker.png" th:href="@{/img/taskTrucker.png}">
</head>

<body>
    <header>
        <nav>
            <div id="navBar"></div>
            <script src="../static/script/nav.js" th:src="@{script/nav.js}"></script>
            <link rel="stylesheet" href="../static/style/navBarDecoration/navProjects.css.css" th:href="@{/style/navBarDecoration/navProjects.css}">
        </nav>
    </header>

    <main>
        <div id="mainFrame">
            <ul>
                <div th:each="project:${projectList}" >
                    <a th:href="@{'/project/' + ${project.id}}"><li th:text="${project.name}" class="pointer"></li></a>
                </div>
            </ul>
            <a href="/new-project" id="newProject">➕ Add Project</a>
        </div>
    </main>
</body>
</html>