<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects | TaskTracker</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/questionnaire.css" th:href="@{/css/questionnaire.css}" rel="stylesheet" />
    <link rel="icon" href="../static/images/taskTrucker.png" th:href="@{/images/taskTrucker.png}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

<div id="mainFrame" style="display:flex; justify-content:center">
    <form>
        <br>
        <label>Choose your project</label>
        <br>
        <p>■■■■■■■■■■■■■■■■■■■■</p>
        <div style="height:20px;">
            <a href="/new-project"><p class="newTaskBt">➕ New</p></a>
        </div>
        <ul style="transform:translateX(55px)">
            <div th:each="project:${projectList}" ><!--th:if="${project.status} != 'archived'"-->
                <a th:href="@{'/project/' + ${project.id}}">
                    <li th:text="${project.name}" class="pointer"></li>
                </a>
            </div>
        </ul>
    </form>
</div>
</body>
</html>