<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>TaskTracker- Share</title>
    <link rel="stylesheet" href="../static/style/share.css" th:href="@{/style/share.css}"/>
    <link rel="stylesheet" href="../static/style/oneFieldWorkbench.css" th:href="@{/css/oneFieldWorkbench.css}"/>
    <link rel="icon" href="../static/img/taskTrucker.png" th:href="@{/img/taskTrucker.png}">
</head>

<body>
    <header>
        <nav>
            <div id="navBar"></div>
            <script src="../static/script/nav.js" th:src="@{script/nav.js}"></script>
            <link rel="stylesheet" href="../static/style/navBarDecoration/navShare.css" th:href="@{/style/navBarDecoration/navShare.css}">
        </nav>
    </header>

    <main>
        <div id="mainFrame">
            <h1 id="title">Share your workbench</h1>
            <p>
                If you want to, you can share your workbench with others.
                <br>
                Send an email message with its pdf version.
            </p>
            <form action="/share" method="post">
                <br>
                <label for="address">To:</label>
                <input id="address" type="email" name="address" class="dataInput" placeholder="&nbsp;e-mail">
                <br>
                <input type="submit" value="Send" id="submit">
            </form>
        </div>
    </main>
</body>
</html>