<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task | TaskTracker</title>
    <link href="../static/css/questionnaire.css" th:href="@{/css/questionnaire.css}" rel="stylesheet" />
    <link rel="icon" href="../static/images/taskTrucker.png" th:href="@{/images/taskTrucker.png}">
</head>
<body>

        <div id="mainFrame">
            <br>

            <form action="/task-details" method="post">
                <div class="field">
                    <label class="required">Task name</label>
                    <div>
                        <input th:field="${taskRequest.name}" class="dataInput">
                        <div th:if="${#fields.hasErrors('taskRequest.name')}" th:errors="${taskRequest.name}" class="error">Name Error</div>
                    </div>
                </div>
                <br>

                <div class="field">
                    <label>Status</label>
                    <div>
                        <select th:field="${taskRequest.status}" class="optionPane">
                            <option value="toDo" th:selected="${taskRequest.status == null or taskRequest.status == 'toDo'}">To do</option>
                            <option value="inProgress" th:selected="${taskRequest.status == 'inProgress'}">In progress</option>
                            <option value="inReview" th:selected="${taskRequest.status == 'inReview'}">In review</option>
                            <option value="done" th:selected="${taskRequest.status == 'done'}">Done</option>
                        </select>
                    </div>
                </div>
                <br>

                <div class="field">
                    <label for="description">Description</label>
                    <div>
                        <textarea th:field="${taskRequest.description}" id="description" class="dataInput"></textarea>
                    </div>
                </div>
                <br>

                <div class="field">
                    <label for="deadline">Deadline</label>
                    <div>
                        <input th:field="${taskRequest.deadline}" type="date" id="deadline" class="dateInput">
                    </div>
                    <div th:text="${invalidDateMessage}" class="error">error</div>
                </div>
                <br>

                <div class="submit-container">
                    <input class="submitButton" type="submit" value="Create">
                </div>
            </form>
        </div>
    </div>
</body>
</html>