#members {
    color: rgb(125, 191, 255);
}

#membersHr {
    margin-top: 2px;
    border-style: solid;
    height: 3px;
    color: rgb(125, 191, 255);
    border-style: none;
    background-color: rgb(58, 135, 207);
}

#members:hover {
    background-color: #1D2125;
}

#projectsHr, #shareHr {
    opacity: 0;
}